@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.error{
    color: red;
    align-self: center;
}

button:disabled{
    opacity: 0.4;
}

/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    padding: 1rem 10rem 1rem 10rem;
    justify-content: space-between;
}

.navbar h1{
    font-size: 2.5rem;
    cursor: pointer;
}

.nav-links{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    font-size: 1.3rem;
}

.search-box{
    padding: 0.5rem;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}


.user-controls{
    display: flex;
    gap: 2.5rem;
    font-size: 1.3rem;
    align-items: center;
}

.animated-btn{
    padding: 0.5rem 1.2rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.profile-picture{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* Sign Up Page */

.sign-up-box{
    width: 25%;
    margin: 5rem auto;
    font-size: 1.3rem;
    border: 2px solid black;
    padding: 2.5rem;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.fields input{
    font-size: inherit;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.submit-btn{
    width: 40%;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    align-self: center;
    border-radius: 0.5rem;
    cursor: pointer;
}


/* Sign In Page */

.sign-in-box{
    width: 25%;
    margin: 5rem auto;
    font-size: 1.3rem;
    border: 2px solid black;
    padding: 2.5rem;
}

.sign-in-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sign-up-para{
    display: flex;
    gap: 0.6rem;
}

.sign-up-text{
    color: blue;
}

/* Profile page */

.profile{
    width: 90%;
    margin: 3rem auto;
    border-radius: 1rem;
    overflow: hidden;
}

.profile-info{
    display: flex;
    height: 50vh;
    align-items: flex-end;
    padding: 5rem;
}

.profile-details{
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 2.5rem;
    color: white;
}

.profile-icon{
    border-radius: 50%;
}